.top_description{
    text-align: center;
    width:75%;
    margin:auto;
}

.link{
    text-decoration: none;
    color: lightslategray;
}
.link:hover{
    color:black;
}

.list{
    list-style-type: none;
    margin:auto;
    width:75%
}